# Recipe Template 

Creamy, crunchy, ... short description

![cover image](img.jpg)


### ingredients

2 carrot  
1 red cabbage  
0.25 Tahini  
.... more stuff


#### spices

fresh ginger  
pickled chili
...

| taxonomy | value |
| :--- | :--- |
| category | salad |
| style | food salad |


#### Human feelings (optional)

Crunchy, comforting, ...


### Pictures of ingredients (optional)

